.card {
    margin: 0 0.5rem 2.3rem 0.5rem !important;
    box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    cursor: pointer;
    transition: transform .5s ease;
}

.card img:hover {
    transform: scale(1.1);
}